<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba técnica Oauth 2.0</title>
</head>
<body>
    <p>Bienvenido</p>
    <button id="logout-btn">Cerrar sesión</button>
    <p style="color: #919191;">
        <small>Al salir, verifica tener cerrada la sesión en otras ventanas.</small>
    </p>
    <script>document.getElementById("logout-btn").onclick = () => {window.location.href="/logout"}</script>
</body>
</html>